<app-header [headerProps]="headerProps"></app-header>
<ion-content [fullscreen]="true" color="primary" class="ion-padding">
  @if(documentTypeToUpload === 1){
  <div class="ion-padding-start ion-padding-end">
    <ion-text color="light"
      >Capture la foto en un lugar con buena iluminación y lo mejor estable
      posible</ion-text
    >
  </div>
  <br />

  <ion-row class="ion-padding">
    <ion-col size="12" class="ion-margin-bottom">
      <div
        class="box-document ion-activatable ripple-parent"
        (click)="takePicture('front')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        @if(!docUrlFront) {
        <img
          src="assets/images/document-front.png"
          alt="documento parte frontal"
          class="image-card"
        />
        } @else {
        <img
          [src]="docUrlFront"
          alt="documento parte frontal"
          class="image-card"
        />
        }
      </div>
    </ion-col>
    <ion-col size="12" class="ion-margin-top">
      <div
        class="box-document ion-activatable ripple-parent"
        (click)="takePicture('back')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        @if(!docUrlBack) {
        <img
          src="assets/images/document-back.png"
          alt="documento parte posterior"
          class="image-card"
        />
        } @else {
        <img
          [src]="docUrlBack"
          alt="documento parte posterior"
          class="image-card"
        />
        }
      </div>
    </ion-col>
  </ion-row>
  } @else {
  <div class="ion-padding-start ion-padding-end">
    <ion-text color="light"
      >Cargue el documento en formato PDF, el documento no debe pesar mas de
      1Mb</ion-text
    >
    <form [formGroup]="uploadDocForm">
      <input hidden type="file" #fileInput (change)="handleFileInput()" />
    </form>

    <ion-fab
      slot="fixed"
      horizontal="center"
      vertical="center"
      class="fab-text"
    >
      <ion-fab-button size="large" color="secondary">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-fab-button>
      <ion-text class="ion-margin-top">Cargar documento</ion-text>
      <ion-fab-list side="top">
        @if(pdfSrc){
        <ion-fab-button color="primary">
          <ion-icon name="open-outline" (click)="previewPDF()"></ion-icon>
        </ion-fab-button>
        }
        <ion-fab-button color="primary" (click)="handleFileInput()">
          <ion-icon name="document-attach-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
  }
</ion-content>
<ion-footer
  class="ion-padding"
  [translucent]="true"
  collapse="fade"
  class="ion-no-border"
>
  <ion-toolbar color="primary">
    <ion-button
      color="secondary"
      expand="block"
      shape="round"
      size="large"
      class="ion-margin"
      [disabled]="!docUrlFront || !docUrlBack"
      [routerLink]="['/register/confirm-email']"
      >Continuar</ion-button
    >
  </ion-toolbar>
</ion-footer>
