.box-document{
    width: 100%;
    height: 200px;
    background-color: var(--ion-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .image-card{
        max-width: 221px;
        width: 100%;
        max-height: 141px;
    }
    &::before,
    &::after{
        content: '';
        width: 50px;
        height: 50px;
        position: absolute;
    }
    &::before{
        left: 10px;
        top: 10px;
        border-left: 4px solid var(--ion-color-light);
        border-top: 4px solid var(--ion-color-light);
    }
    &::after{
        right: 10px;
        bottom: 10px;
        border-right: 4px solid var(--ion-color-light);
        border-bottom: 4px solid var(--ion-color-light);
    }
}

.fab-text{
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    ion-text{ 
        font-size: .9rem;
    }
}

.pdf-container{
    width: 100%;
    height: 400px; /* Altura inicial del contenedor */
    overflow-y: auto; /* Habilitar el scroll vertical */
    border: 1px solid #ccc;
}