<app-header [headerProps]="headerProps" />
<ion-content [fullscreen]="true" color="primary">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, minima non! Libero vitae quibusdam quas unde architecto, vero, quisquam doloremque tempora velit nam adipisci est, a magni! Quos, asperiores consectetur!
 <br><br>  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, est mollitia! Laboriosam, optio illum cum nostrum, in totam velit esse consequuntur doloremque, sequi magnam tenetur nulla commodi facilis quos quasi?
</ion-content>
