.detail-banner {
    width: 100%;
    height: 350px;
    position: relative;
}

.detail-carousel {
    width: 100%;
}

ion-card.item-in-col {
    border-radius: 20px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;

    ion-card-content {
        width: 100%;
    }

    ion-button {
        text-transform: initial;
    }
}

ion-grid {
    padding: 0 0 0 0;
}

ion-thumbnail {
    --size: 30px;
}

.spacing-grid-item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 12 columnas para mayor flexibilidad */
    gap: 16px;
    align-items: stretch;
}

ion-col {
    display: flex;
    flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);
    width: 100% !important;
    max-width: 100% !important;
}

ion-col[size="12"] {
    grid-column: span 12;
}

ion-col[size="6"] {
    grid-column: span 6;
}

ion-fab {
    transition: all ease .2s;
}

.on-visible {
    transform: scale(1);
}

.out-visible {
    transform: scale(0);
}

.row-in-card {
    display: flex;
    flex-direction: row;
    flex-flow: row;    
    justify-content: stretch;
    align-items: stretch;
}

.container-map {
    width: 100%;
    height: 100%;
    flex: 0 1 auto;
    flex-direction: row;
    position: relative;
    padding-left: 10px;
    &::before {
        content: '';
        display: flex;        
        height: 30%;
        width: 3px;
        background-color: rgba(var(--ion-color-medium-rgb), .4);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 10px;
    }
    @media (min-width:360px) {
        width: 55%;
    }
}

 
 