<app-header [headerProps]="headerProps"></app-header>

<ion-content color="primary" class="ion-padding">
  <div class="ion-padding-start ion-padding-end">
    <h2>Vamos a iniciar con unos datos básicos</h2>
    <sub
      >Recuerda que los campos marcados con
      <ion-text color="warning">*</ion-text> son obligatorios</sub
    >
  </div>
  <br />
  <form [formGroup]="myGeneralFormUser">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item color="primary">
          <ion-input
            class="ion-margin-top"
            color="light"
            label="Nombres"
            label-placement="floating"
            fill="outline"
            placeholder="Ingrese sus nombres"
            formControlName="firstName"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item color="primary">
          <ion-input
            class="ion-margin-top"
            color="light"
            label="Apellidos"
            label-placement="floating"
            fill="outline"
            placeholder="Ingrese sus apellidos"
            formControlName="lastName"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item color="primary">
          <ion-input
            class="ion-margin-top"
            color="light"
            label="Email"
            label-placement="floating"
            type="email"
            fill="outline"
            placeholder="email@domain.com"
            formControlName="email"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item color="primary">
          <ion-input
            class="ion-margin-top"
            color="light"
            label="Teléfono"
            label-placement="floating"
            type="tel"
            fill="outline"
            placeholder="000-000-0000"
            [value]="inputModel"
            (ionInput)="onInput($event)"
            #ionInputEl
            formControlName="phone"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="primary" lines="none">
          <ion-toggle justify="space-between" color="secondary" formControlName="isAgency"
            >¿Crear cuenta como agencia?</ion-toggle
          >
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="primary" lines="none">
          <ion-checkbox
            formControlName="politics"
            color="light"
            justify="space-between"
            [indeterminate]="true"
            (click)="openModal()"
            [checked]="confirm"
            >Acepta nuestras politicas</ion-checkbox
          >
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="primary" lines="none">
          <ion-checkbox
            formControlName="infoProcessing"
            color="light"
            justify="space-between"
            [indeterminate]="true"
            >Acepta nuestro manejo al tratamiento de datos</ion-checkbox
          >
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-padding-start ion-padding-end"> 
        <ion-button
          color="secondary"
          expand="block"
          shape="round"
          size="large"
          [disabled]="myGeneralFormUser.invalid || myGeneralFormUser.controls['politics'].value !== true || myGeneralFormUser.controls['infoProcessing'].value !== true"
          (click)="submit()"
          >Continuar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
