<ion-content style="border-radius: 15px;">
  <ion-list class="primary-bg none-safe-margin-x no-margin-top" lines="none" [inset]="true">
    <ion-item *ngFor="let item of items" color="primary" lines="none" class="ion-no-padding ion-margin-bottom">
      <ion-card class="card-list ion-no-padding ion-no-margin">
        <img class="img-card" alt="Silhouette of mountains" [src]="item.imgSrc" />
        <ion-card-content>
          <h2>{{ item.title }}</h2>
          <small>Antes: {{ item.oldPrice }}</small>
          <h3>Ahora: {{ item.newPrice }}</h3>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
