<ion-content style="border-radius: 15px;">
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="card-list">
      <img alt="Silhouette of mountains" src="../../../assets/images/1.jpg"
       style="width: 150px; height: auto; margin-right: 15px;" />
      
      <ion-card-content>
        <h2>Distrito de Knazawa</h2>
        <small>Antes: $23.000.000</small>
        <h3>Ahora: $19.990.000 USD</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>