<ion-content>
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="im-swiper" src="https://docs-demo.ionic.io/assets/madison.jpg" alt=""></div>
      <div class="swiper-slide"><img class="im-swiper" src="https://docs-demo.ionic.io/assets/madison.jpg" alt=""></div>
      <div class="swiper-slide"><img class="im-swiper" src="https://docs-demo.ionic.io/assets/madison.jpg" alt=""></div>
      <div class="swiper-slide"><img class="im-swiper" src="https://docs-demo.ionic.io/assets/madison.jpg" alt=""></div>
      <div class="swiper-slide"><img class="im-swiper" src="https://docs-demo.ionic.io/assets/madison.jpg" alt=""></div>
    </div>
  </div>
  <!-- <div class="swiper-slide" *ngFor="let image of images">
    <img [src]="image" alt="">
  </div> -->
  <div style="color: white;">
    <h3>Distrito de Knazawa</h3>
    <div>
      <small>Antes: $23.000.000</small>
      <h3>Ahora: $19.990.000 USD</h3>
    </div>
    <div>

    </div>
  </div>
</ion-content>
