<!--<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <ion-card class="swiper-slide custom-card" *ngFor="let slide of slides">
        <img class="im-swiper" [src]="slide.image" alt="">        
        <ion-card-content>
          <div>
            <p>{{slide.title}}</p>
            <div>
              <small>{{slide.beforePrice}}</small>
              <p>{{slide.nowPrice}}</p>
            </div>
          </div>
        </ion-card-content>
        
      </ion-card>
    </div>
  </div>-->
<!--<swiper-container init="false" #swiperContainer>-->

<swiper-container init="false" #swiperContainer class="content-carrusel">
  <div>
    <ion-fab
      class="swiper-button-prev"
      slot="fixed"
      vertical="center"
      horizontal="start"
      [edge]="true"
    >
    </ion-fab>
  </div>
  <div>
    <ion-fab
      class="swiper-button-next"
      slot="fixed"
      vertical="center"
      horizontal="end"
      [edge]="true"
    >
    </ion-fab>
  </div>
  <swiper-slide *ngFor="let slide of items">
    <ng-container *ngTemplateOutlet="contentTemplate; context: { $implicit: slide }"></ng-container>
  </swiper-slide>
</swiper-container>
<!-- <div class="swiper-slide" *ngFor="let image of images">
    <img [src]="image" alt="">
  </div> -->
