<ion-content>
  <!--<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <ion-card class="swiper-slide custom-card" *ngFor="let slide of slides">
        <img class="im-swiper" [src]="slide.image" alt="">        
        <ion-card-content>
          <div>
            <p>{{slide.title}}</p>
            <div>
              <small>{{slide.beforePrice}}</small>
              <p>{{slide.nowPrice}}</p>
            </div>
          </div>
        </ion-card-content>
        
      </ion-card>
    </div>
  </div>-->
  <!--<swiper-container init="false" #swiperContainer>-->
  <swiper-container init="false" #swiperContainer>
    <swiper-slide *ngFor="let slide of slides">
      <ion-fab class="swiper-button-prev" slot="fixed" vertical="center" horizontal="start" [edge]="true">
        <ion-fab-button>
          <ion-icon name="chevron-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab class="swiper-button-next" slot="fixed" vertical="center" horizontal="end" [edge]="true">
        <ion-fab-button>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-card class="swiper-slide custom-card">
        <img class="im-swiper" [src]="slide.image" alt="" />
        <ion-card-content>
          <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
            <ion-fab-button>
              <ion-icon name="heart"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <div>
            <p>{{ slide.title }}</p>
            <div>
              <small>{{ slide.beforePrice }}</small>
              <p>{{ slide.nowPrice }}</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
<!-- <div class="swiper-slide" *ngFor="let image of images">
    <img [src]="image" alt="">
  </div> -->
