.wating-room-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 0; 

    .up-clock {
        width: 100%;
        height: 50%;
        clip-path: polygon(100% 0%, 50% 120%, 0% 0%);
        background-color: var(--ion-color-light);
        position: absolute;
        top: 0;
        left: 0;
        .wave-up {
            top: 30%;
            position: absolute;
            left: -45%;
            height: 200%;
            width: 210%;
            background: rgba(0, 123, 255, 0.4);
            animation-direction: reverse;
            border-radius: 50%; 
            border-radius: 35%; 
            animation: wave 15s infinite linear;
            animation: waveUp 12s linear infinite;
        }
    }

    .down-clock {
        width: 100%;
        height: 50.1%;
         clip-path: polygon(0% 100%, 50% -20%, 100% 100%);
        background-color: var(--ion-color-light);
        position: absolute;
        bottom: 0;
        .wave-down {
            background: rgba(0, 123, 255, 0.6);
            top: 0;
        }
    }
}

@keyframes waveUp {
    from {
        transform: rotate(0deg);
      }
      from {
        transform: rotate(360deg);
      }
}