<ion-content [fullscreen]="true">
  <div class="wating-room-bg">
    <div class="up-clock">
      <div class="wave wave-up"></div>
    </div>
    <div class="down-clock">
      <div class="wave wave-down"></div>
    </div>
  </div>
  <ion-grid class="full-height ion-padding">
    <ion-row class="ion-align-items-center full-height ion-padding">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="light">
          <h1>Aguarde</h1>
        </ion-text>
        <ion-text color="light">
          <h3>Estamos validando su información</h3>
        </ion-text>
        <ion-text color="light">
          <p>En un lapso de 24 horas estaremos contactando con usted.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
